<%@atleta = Atleta.find(current_user.atleta_id) %>
<p><h1>Provas de <%= current_user.name%></h1></p><br />

<p><%= link_to "Nova Prova", new_atleta_prova_path(@atleta) %></p><br/>

  <table border=1 width="100%">
    <tr><td colspan=8 align=center><i>Lista de Provas</td></tr>
    <tr>
      <td align=center><b>Competição</td>
      <td align=center><b>Data</td>
      <td align=center><b>Distância (m)</td>
      <td align=center><b>Tempo</td>
      <td align=center><b>Tipo Tempo</td>
      <td align=center><b>Clima</td>
      <td align=center><b>Editar Prova</td>
    </tr>
    <%@atleta.provas.each do |prova|%>
      <tr>
        <td align=center><%= link_to prova.competicao, atleta_prova_path(@atleta, prova) %></td>
        <td align=center><%=prova.data%></td>
        <td align=center><%=prova.distancia%></td>
		    <td align=center>
			    <% if prova.horas %>
				    <%= prova.horas %>h
				  <% end %>
			    <% if prova.minutos %>
				    <%= prova.minutos %>'
			    <% end %>
			    <% if prova.segundos %>
				    <%= prova.segundos %>''
			    <% end %>
			    <% if prova.decimos %>
				    <%= prova.decimos %>
			    <% end %>
		    </td>
        <td align=center><%=prova.tipoTempo%></td>
        <td align=center><%=prova.clima%></td>
        <td align=center><%= link_to "Editar", edit_atleta_prova_path(@atleta, prova) %></td>
      </tr>
    <% end %>
  </table>

