
<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js" type="text/javascript"></script>
<script src="/javascripts/prototype.js"     type="text/javascript"></script>
<script src="/javascripts/scriptaculous/src/scriptaculous.js" type="text/javascript"></script>
<script src="/javascripts/yahoo.color.js"   type="text/javascript"></script>
<script src="/javascripts/colorPicker.js"   type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/colorPicker.css">


<% if user_is_treinador? %>
<h1>Cadastro de treino de <%=h @atleta.usuario.name %></h1>
<p>
<%= link_to 'Treino deste mês', :action => 'show_month', :atleta_id => @atleta, :data => Date.current %> <br />
<%= link_to 'Treino deste mês transposto', :action => 'show_month_transpost', :atleta_id => @atleta, :data => Date.current %>
    <br/>
</p>
<% form_tag :action => :show_interval, :atleta_id => @atleta  do %>
<table>
    <tr>
        <td>
            Inicio
        </td>
        <td>
            <%= date_select("data", "inicio") %>
        </td>
    </tr>
    <tr>
        <td>
            Fim
        </td>
        <td>
            <%= date_select("data", "fim") %>
        </td>
        <td>
            <%= submit_tag 'Mostrar' %>
        </td>
    </tr>
</table>
<% end %>
<br/>
<p>
    <%= link_to '<< ', :action => 'change_week', :atleta_id => @atleta, :data => @treinos.first.date.yesterday %>
	<%= convert(@treinos.first.date.at_beginning_of_week) %> até <%= convert(@treinos.first.date.at_end_of_week) %>
	<%= link_to ' >>', :action => 'change_week', :atleta_id => @atleta, :data => @treinos.first.date.next_week %>
</p>
<% else %>
	<h1>Visualização de treino do <%=h @atleta.usuario.name %></h1>
<% end %>

<table>
	
    <thead>
    	
        <tr>
            <th>
                Data
            </th>
            <th>
                Treino
            </th>
			<th>
				Observação
			</th>	
            <th>
                Comentário
            </th>
        </tr>
    </thead>
    <% @treinos.each do |treino| %>
    <% fields_for treino do |t| %>
    <tr>
        <td>
            <%= convert(treino.date) + ' ' + week_day(treino.date) %>
        </td>
        <% if user_is_treinador? %>
        <td>
			<%= render :partial => 'itens_treino/tabela_itens', :locals => { :treino => treino, :show => true }%>
        </td>
		<%form_for :treino, :url => {:action => "update_observation", :atleta_id => @atleta.id }, "atleta_id" => @atleta.id do |f|%>
			<td>
				<%=f.text_area :observacao, :cols => 35, :rows => 4, :value => treino.observacao %>
				<%=f.hidden_field :treino_id, :value => treino.id%>
				<%= submit_tag 'Salvar' %>
       		</td>
        <%end%>
		<td>
			<%= create_new_line(treino.comentario) %>
            <% t.text_area(:comentario, "index" => treino.id, :cols => 35, :rows => 4, :style => 'background-color: white', :disabled => 'disabled') %>
        </td>

        <% else %>
		<td>
		  <%= render :partial => 'itens_treino/tabela_itens', :locals => { :treino => treino, :show => false }%>
		</td>
		<td>
			<%= create_new_line(treino.observacao) %>
            <% t.text_area(:observacao, "index" => treino.id, :cols => 35, :rows => 4, :style => 'background-color: white', :disabled => 'disabled') %>
        </td>
			
            <%form_for :treino, :url => {:action => "update_commentary", :atleta_id => @atleta.id }, "atleta_id" => @atleta.id do |f|%>
			<td>
				<%=f.text_area :comentario, :cols => 30, :rows => 4, :value => treino.comentario %>
				<%=f.hidden_field :treino_id, :value => treino.id%>
				<%= submit_tag 'Salvar' %>
       		</td>
			<%end%>
        </td>       

        <% end %>
    </tr>
	<% if user_is_treinador? %>
	<tr>
		<td>
			<div id='novo[<%= treino.id %>]'>
				<a href="#" onclick="Effect.BlindDown('form[<%= treino.id %>]');$('novo[<%= treino.id %>]').hide();return false;">Novo</a>
			</div>
		</td>
		<td>
			<div id='form[<%= treino.id %>]' style="display: none">
				<%= render :partial => "itens_treino/item_treino", :locals => { :treino => treino.id }  %>
			</div>
		</td>
	</tr>
	<% end %>
    <% end %>
    <% end %>
</table>
