
<div id="menu">
  		<ul>
  			<%unless current_user%>
				<% if request.path != "/" %>
				<li><%= link_to "Home", :controller => 'welcome'%></li>
				<%end%>
				<% if request.path != "/signup" %>
				<li><%= link_to "Cadastre-se", :controller => 'users', :action => 'new' %></li>
				<% end %>
			<%end%>
			
  		</ul>
</div>
	
<div id="login" >
  <% if current_session %>
    <%= current_user.email %>(<%= link_to "Sair", user_session_path, :method => :delete %>)		
  <% else %>
    <%= render :partial => 'sessions/new' %>
  <% end %>
</div>

	
