<h1>Redefinindo a senha para o usuário <%=@user.name%></h1>

<%form_for :user, :url => {:action => 'reset_password'} do |f|%>

	<p>
		<%= label_tag 'Senha:' %><br/>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= label_tag 'password_confirmation', 'Confirme sua senha:' %><br/>
		<%= f.password_field :password_confirmation %>
	</p>
	<%= f.hidden_field :id, :value => @user.id%>
	<%= f.hidden_field :password_reset_code, :value => @user.password_reset_code%>
	<p>
		<%= submit_tag 'Mudar senha' %>
	</p>
<%end -%>
