<h1>Cálculo de ritmo</h1>

<script type='text/javascript' src="/javascripts/calculadoraDeRitmo.js"></script>

<script type="text/javascript">
  
function calculaRitmo() { 
  var minutos = document.getElementById('tempo_minutos').value;
  var segundos = document.getElementById('tempo_segundos').value;
  var decimos = document.getElementById('tempo_decimos').value; 
  var distancia = document.getElementById('tempo_distancia').value;
  if(distancia == 0)
  {
    alert("Distância deve ser maior que zero");
    document.getElementById('tempo_distancia').focus();
    return;
  }
  var intensidade = document.getElementById('tempo_intensidade').value;
  if(intensidade > 100 || intensidade <= 0)
  {
    alert("Intensidade deve estar no intervalo 1~100%");
    document.getElementById('tempo_intensidade').focus();
    return;
  
  }
  resultado = document.getElementById('resultado_ritmo');
  resultado.innerHTML = calculadoraDeRitmo(minutos, segundos, decimos, distancia, intensidade);
  
}
</script>

<form>
  	<table>
		<tr>
			<th>Minutos</th>
			<th>Segundos</th>
			<th>Décimos</th>
			<th>Distância</th>
			<th>Intensidade</th>
		</tr>
		<tr>
			<td><%= text_field(name = :tempo, value = :minutos, :size => 5, :maxlength => 4) %></td>
			<td><%= text_field(name = :tempo, value = :segundos, :size => 5, :maxlength => 2) %></td>
			<td><%= text_field(name = :tempo, value = :decimos, :size => 5, :maxlength => 1) %></td>
			<td><%= text_field(name = :tempo, value = :distancia, :size => 5, :maxlength => 6) %></td>
			<td><%= text_field(name = :tempo, value = :intensidade, :size => 5, :maxlength => 3) %></td>
		</tr>
    </table>
  <input type='button' value='Calcular' onclick="calculaRitmo()">&nbsp;&nbsp;&nbsp;<span id="resultado_ritmo"></span>
</form>

<hr/>

<table>
	<tr>
		<th style="text-align: center;">Ritmo Minutos</th>
		<th style="text-align: center;">Ritmo Segundos</th>
		<th style="text-align: center;">Ritmo Décimos</th>
		<th style="text-align: center;">Distância do Tiro / Prova (m)</th>
		<th style="text-align: center;">Parcial</th>
	</tr>
  <tr>
	  <td style="text-align: center;"><%= text_field(name = :tempo_parcial, value = :minutos, :size => 5, :maxlength => 4) %></td>
	  <td style="text-align: center;"><%= text_field(name = :tempo_parcial, value = :segundos, :size => 5, :maxlength => 2) %></td>
	  <td style="text-align: center;"><%= text_field(name = :tempo_parcial, value = :decimos, :size => 5, :maxlength => 1) %></td>
	  <td style="text-align: center;"><%= text_field(name = :tempo_parcial, value = :distancia, :size => 5, :maxlength => 6) %></td>
	  <td style="text-align: center;"><%= text_field(name = :tempo_parcial, value = :parcial, :size => 5, :maxlength => 6) %></td>
  </tr>
</table>

<br/>

<input type='button' value='Calcular' onclick="calculaRitmoParcial()">
<span id="resultado_ritmo_parcial"></span>

<script type="text/javascript">
  function  calculaRitmoParcial() {
    var minutos = document.getElementById('tempo_parcial_minutos').value;
    var segundos = document.getElementById('tempo_parcial_segundos').value;
    var decimos = document.getElementById('tempo_parcial_decimos').value;
    var distancia = document.getElementById('tempo_parcial_distancia').value;
    if(distancia == 0)
    {
      alert("Distância deve ser maior que zero");
      document.getElementById('tempo_parcial_distancia').focus();
      return;
    }
    var parcial = document.getElementById('tempo_parcial_parcial').value;
    var tempo = (600* minutos) + (segundos * 10) + decimos;
    var ritmo_em_decimos = 0 + tempo * parcial/ distancia;
    var resultado = document.getElementById('resultado_ritmo_parcial');
    resultado.innerHTML = "Ritmo desejado: " + (ritmo_em_decimos/6000).toFixed(1) + " min/km" ;
  }
</script>

