<p>
	<h1><%= User.find_by_atleta_id(@atleta.id).name %></h1>
</p>

<p>
	<h3>Somatório de cargas</h3>
	<br/>
</p>

<% semantic_form_for :somatorio_de_carga, :url => somatorio_de_cargas_treinador_atleta_path(@atleta.id) do |form| %>
  <% form.inputs do %>
    <%= form.input :data_inicial,:required => false,:as => :date %>
    <%= form.input :data_final, :required => false, :as => :date %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button "Somatório de cargas"%>
  <% end %>
<% end %>

<p>
	<h3>Treinos</h3>
	<br/>
</p>
<% calendar  :header_format => '%a', :caption_format => '%B  %Y' do |date|  %>
	<br/>
	<% treino = @atleta.treinos.find_by_date(date) %>
	<% unless treino.nil? %>
		<%= link_to "Treino", treinador_atleta_treino_path(@atleta,treino) %>
		<%= link_to "Excluir", treinador_atleta_treino_path(@atleta.id, treino), :method => :delete %>
	<% end %>
<% end %>

<table>
  <tr>
    <th colspan=2>Treinos dos proximos meses</th>
  </tr>
  <% @treinos.each do |treino| %>
    <tr>
    	<% if treino.date.year > Date.today.year or (treino.date.year == Date.today.year and treino.date.month > Date.today.month) %>
	      <td><%= treino.date %></td>
  	    <td><%= link_to "Detalhes", treinador_atleta_treino_path(@atleta.id, treino) %></td>
      <% end %>
    </tr>
   <% end %>
</table>

<table>
  <tr>
    <th colspan=2>Treinos dos meses anteriores</th>
  </tr>
  <% @treinos.each do |treino| %>
    <tr>
    	<% if treino.date.year < Date.today.year or (treino.date.year == Date.today.year and treino.date.month < Date.today.month) %>
	      <td><%= treino.date %></td>
  	    <td><%= link_to "Detalhes", treinador_atleta_treino_path(@atleta.id, treino) %></td>
      <% end %>
    </tr>
   <% end %>
</table>

<%= link_to "Novo treino", new_treinador_atleta_treino_path(@atleta) %>
