<script type='text/javascript' src="/javascripts/calculadoraDeRitmo.js"></script>

<script type='text/javascript'>
  function calculaRitmo() { 
    var minutos = document.getElementById("item_treino_minutos").value;
    var segundos = document.getElementById("item_treino_segundos").value;
    var decimos = document.getElementById("item_treino_decimos").value; 
    var volume = document.getElementById("item_treino_volume").value;
    if(volume <= 0) {
      alert("Volume deve ser maior que zero");
      document.getElementById('item_treino_volume').focus();
      return;
    }
    var intensidade = document.getElementById('tempo_intensidade').value;
    if(intensidade > 100 || intensidade <= 0)
    {
      alert("Intensidade deve estar no intervalo 1~100%");
      document.getElementById('tempo_intensidade').focus();
      return;
    
    }
    var resultado = document.getElementById('resultado_ritmo');
    resultado.innerHTML = calculadoraDeRitmo(minutos, segundos, decimos, volume, intensidade);
  }

  function calculaTempoPeloRitmo() {
 
  	var ritmo = document.getElementById("ritmo_ritmo").value;
  	var distancia = document.getElementById("item_treino_volume").value / 1000;
    var intensidade = document.getElementById('tempo_intensidade').value;
    var tempo = ritmo * distancia * (2 - intensidade/100);

    var tempo = tempo * 600;

    var minutos = (tempo / 600).floor();
    var segundos = ((tempo % 600) / 10).floor();
    var decimos = (tempo - (minutos * 600) - (segundos * 10)).toFixed(0);

    var campo_minutos = document.getElementById("item_treino_minutos");
    var campo_segundos = document.getElementById("item_treino_segundos");
    var campo_decimos = document.getElementById("item_treino_decimos"); 
    
    campo_minutos.value = minutos;
    campo_segundos.value = segundos;
    campo_decimos.value = decimos;
    
  }

</script>

<p>Data: <%= @treino.date %></p>

<p>
  Observação:
  <br/>
  <%= @treino.observacao %>
</p>

<p>
  Comentário:
  <br/>
  <%= @treino.comentario %>
</p>
<table border=1 width="100%">
  <tr><td colspan=9 align=center><i>Itens de Treino</td></tr>
  <tr>
    <td align=center><b>Objetivo</td>
    <td align=center><b>Exercício</td>
    <td align=center><b>Séries</td>
    <td align=center><b>Repetição</td>
    <td align=center><b>Volume</td>
    <td align=center><b>Tempo</td>
    <td align=center><b>Pausa</td>
    <td align=center><b>Intervalo</td>
    <td align=center><b></td>
  </tr>
  <% @treino.itens_treino.each do |item_treino| %>
    <tr>
    	<td align=center><%=item_treino.objetivo%></td>
      <td align=center><%=item_treino.exercicio%></td>
      <td align=center><%=item_treino.series%></td>
      <td align=center><%=item_treino.repeticao%></td>
      <td align=center><%=item_treino.volume%> <%=item_treino.grandeza%></td>
      <td align=center>
	      <% if item_treino.minutos %>
	  	    <%= item_treino.minutos %>'
  	    <% end %>
  	    <% if item_treino.segundos %>
  		    <%= item_treino.segundos %>''
  	    <% end %>
  	    <% if item_treino.decimos %>
  		    <%= item_treino.decimos %>"
  	    <% end %>
      </td>
      <td align=center><%=item_treino.pausa%></td>
      <td align=center><%= item_treino.intervalo %></td>
      <td><%= link_to "Remover", treinador_treino_item_treino_path(@treino,item_treino), :method => :delete %>
    </tr>
  <% end %>
</table>
<br />
<h2> Novo item de treino </h2>

<% semantic_form_for @item_treino, :url => treinador_treino_itens_treino_path(@treino) do |form| %>
  <% form.inputs do %>
    <%= form.input :objetivo,     :required => false, :input_html => { :size => 20 } %>
    <%= form.input :exercicio,  :required => true, :input_html => { :size => 20 } %>
    <%= form.input :series,     :required => false, :input_html => { :size => 5 } %>
    <%= form.input :repeticao,  :required => false, :input_html => { :size => 5 } %>
    <%= form.input :volume,     :required => true,  :input_html => { :size => 5 } %>
    <%= form.input :grandeza,   :required => true, :as => :select,  :collection => ["m", "kg", "unidades"] %>
    <%= form.input :pausa,      :required => false, :input_html => { :size => 5 } %>
    <%= form.input :intervalo,  :required => false, :input_html => { :size => 5 } %>
    <%= form.input :minutos,    :required => false, :input_html => { :size => 3 } %>
    <%= form.input :segundos,   :required => false, :input_html => { :size => 3 } %>
    <%= form.input :decimos,    :required => false, :input_html => { :size => 3 } %>
  <% end %>
  Ritmo:
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= text_field(name = :ritmo, value = :ritmo, :size => 5) %>
  <input type='button' value="Calcular Tempo" onclick="calculaTempoPeloRitmo()">&nbsp;&nbsp;&nbsp;
  <span id="resultado_ritmo"></span><br /><br />
  
  Intensidade:
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= text_field(name = :tempo, value = :intensidade, :size => 5, :maxlength => 3) %>
  <input type='button' value="Calcular Ritmo" onclick="calculaRitmo()">&nbsp;&nbsp;&nbsp;
  <span id="resultado_ritmo"></span><br /><br />
  
  <% form.buttons do %>
    <%= form.commit_button "Criar item treino"%>
  <% end %>
  
<% end %>



<%= link_to "Treinos", treinador_atleta_treinos_path(@atleta) %>
|
<%= link_to "Editar treino", edit_treinador_atleta_treino_path(@atleta,@treino) %>
