<script type='text/javascript' src="/javascripts/calculadoraDeRitmo.js"></script>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="/javascripts/jquery-ui.js" type="text/javascript"></script>



<script type='text/javascript'>
function calculaRitmo(campo_minutos, campo_segundos, campo_decimos, campo_volume, campo_intensidade, campo_resultado) { 

  var minutos = document.getElementById(campo_minutos).value;
  var segundos = document.getElementById(campo_segundos).value;
  var decimos = document.getElementById(campo_decimos).value; 
  var volume = document.getElementById(campo_volume).value;
  if(volume <= 0) {
    alert("Volume deve ser maior que zero");
    document.getElementById(campo_volume).focus();
    return;
  }
  var intensidade = document.getElementById(campo_intensidade).value;
  if(intensidade > 100 || intensidade <= 0)
  {
    alert("Intensidade deve estar no intervalo 1~100%");
    document.getElementById(campo_intensidade).focus();
    return;
  
  }
  var resultado = document.getElementById(campo_resultado);
  resultado.innerHTML = calculadoraDeRitmo(minutos, segundos, decimos, volume, intensidade);
}

function copiar(){
  document.getElementById('item_treino_minutos').value = document.getElementById('calculadora_minutos').value;
  document.getElementById('item_treino_segundos').value = document.getElementById('calculadora_segundos').value;
  document.getElementById('item_treino_decimos').value = document.getElementById('calculadora_decimos').value;
  document.getElementById('item_treino_volume').value = document.getElementById('calculadora_volume').value;
  document.getElementById('tempo_intensidade').value = document.getElementById('calculadora_intensidade').value;
}

	

  function calculaTempoPeloRitmo() {
 
  	var ritmo = document.getElementById("ritmo_ritmo").value;
  	var distancia = document.getElementById("item_treino_volume").value / 1000;
    var intensidade = document.getElementById('tempo_intensidade').value;
    var tempo = ritmo * distancia * (2 - intensidade/100);

    var tempo = tempo * 600;

    var minutos = (tempo / 600).floor();
    var segundos = ((tempo % 600) / 10).floor();
    var decimos = (tempo - (minutos * 600) - (segundos * 10)).toFixed(0);

    var campo_minutos = document.getElementById("item_treino_minutos");
    var campo_segundos = document.getElementById("item_treino_segundos");
    var campo_decimos = document.getElementById("item_treino_decimos"); 
    
    campo_minutos.value = minutos;
    campo_segundos.value = segundos;
    campo_decimos.value = decimos;
    
  }


</script>

<div class="popup_calculadora">
  <div style="float: right;">
  <a href="javascript:void(0)" onclick="$('.popup_calculadora').fadeOut('fast')">[X]</a>
  </div>
  <div class="popup_content">

    <div style="padding-top: 50x;">
      <table>
        <tr>
          <td><label for="calculadora_volume">Volume</label></td>
          <td><input type="text" size="5" id="calculadora_volume"/></td>
        </tr>
        <tr>
          <td><label for="calculadora_minutos">Minutos</label></td>
          <td><input type="text" size="2" id="calculadora_minutos"/></td>
        </tr>
        <tr>
          <td><label for="calculadora_segundos">Segundos</label></td>
          <td><input type="text" size="2" id="calculadora_segundos"/></td>
        </tr>
        <tr>
          <td><label for="calculadora_decimos">Decimos</label></td>
          <td><input type="text" size="2" id="calculadora_decimos"/></td>
        </tr>
        <tr>
          <td><label for="calculadora_intensidade">Intensidade</label></td>
          <td><input type="text" size="3" id="calculadora_intensidade"/></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="button" value="Calcular" onclick="javascript:calculaRitmo ('calculadora_minutos', 'calculadora_segundos', 'calculadora_decimos', 'calculadora_volume', 'calculadora_intensidade', 'popup_resultado')"/>
            <input type="button" value="Copiar para o treino" onclick="javascript: copiar();"/>
          </td>
        </tr>
        <tr>
          <td colspan="2" id="popup_resultado"></td>
        </tr>
      </table> 
    </div>
  </div>
</div>

<p>
	<h1>Treino de <%= User.find_by_atleta_id(@atleta.id).name %></h1>
</p>
<p>Data: <%= @treino.date %></p>

<p>
  Observação:
  <br/>
  <%= @treino.observacao %>
</p>

<p>
  Comentário:
  <br/>
  <%= @treino.comentario %>
</p>
<table border=1 width="100%">
  <tr><td colspan=9 align=center><i>Itens de Treino</td></tr>
  <tr>
    <td align=center><b>Objetivo</td>
    <td align=center><b>Exercício</td>
    <td align=center><b>Séries</td>
    <td align=center><b>Repetição</td>
    <td align=center><b>Volume</td>
    <td align=center><b>Tempo</td>
    <td align=center><b>Pausa</td>
    <td align=center><b>Intervalo</td>
    <td align=center><b></td>
  </tr>
  <% @treino.itens_treino.each do |item_treino| %>
    <tr>
    	<td align=center><%=Objetivo.find(item_treino.objetivo_id).nome%></td>
      <td align=center><%=Exercicio.find(item_treino.exercicio_id).exercicio%></td>
      <td align=center><%=item_treino.series%></td>
      <td align=center><%=item_treino.repeticao%></td>
      <td align=center><%=item_treino.volume%> <%=Exercicio.find(item_treino.exercicio_id).unidade%></td>
      <td align=center>
	      <% if item_treino.minutos %>
	  	    <%= item_treino.minutos %>'
  	    <% end %>
  	    <% if item_treino.segundos %>
  		    <%= item_treino.segundos %>''
  	    <% end %>
  	    <% if item_treino.decimos %>
  		    <%= item_treino.decimos %>"
  	    <% end %>
      </td>
      <td align=center><%=item_treino.pausa%></td>
      <td align=center><%= item_treino.intervalo %></td>
      <td><%= link_to "Remover", treinador_treino_item_treino_path(@treino,item_treino), :method => :delete %>
    </tr>
  <% end %>
</table>
<br />

<%= "<script type=\"text/javascript\">$(document).ready(function() {
	$('.popup_calculadora').draggable();
	$('#novo_item_treino').fadeIn('slow');
	$('#botao_criar_treino').hide();
});</script>" if (params["mostra_form"] == "sim") %>


<%= "<script type=\"text/javascript\">$(document).ready(function() {
	$('.popup_calculadora').draggable();
});</script>" if (params["mostra_form"] != "sim") %>


<div id="botao_criar_treino"><a href="javascript: void(0);" onclick="$('#novo_item_treino').fadeIn('slow'); $('#botao_criar_treino').fadeOut('slow'); ">Criar novo item de treino</a></div>

<div id="novo_item_treino" style="display: none;">

  <div style="float: right;">
  <a href="javascript:void(0)" onclick="$('#novo_item_treino').fadeOut('slow'); $('#botao_criar_treino').fadeIn('slow');">[X]</a>
  </div>
<h2> Novo item de treino </h2>

<p><input type="button" value="Calculadora" onclick="$('.popup_calculadora').fadeIn('slow');" /></p>
<% semantic_form_for @item_treino, :url => treinador_treino_itens_treino_path(@treino) do |form| %>
  <% form.inputs do %>
    <%= form.input :objetivo_id,    :required => true, :as => :select, :collection => @objetivos.map { |objetivo| [objetivo.nome, objetivo.id]}%>
    <%= form.input :exercicio_id,  :required => true,  :as => :select,  :collection => @exercicios.map { |exercicio| [exercicio.exercicio, exercicio.id]}  %>
    <%= form.input :series,     :required => false, :input_html => { :size => 5 } %>
    <%= form.input :repeticao,  :required => false, :input_html => { :size => 5 } %>
    <%= form.input :volume,     :required => true,  :input_html => { :size => 5 } %>
    <%= form.input :pausa,      :required => false, :input_html => { :size => 5 } %>
    <%= form.input :intervalo,  :required => false, :input_html => { :size => 5 } %>
    <%= form.input :minutos,    :required => false, :input_html => { :size => 3 } %>
    <%= form.input :segundos,   :required => false, :input_html => { :size => 3 } %>
    <%= form.input :decimos,    :required => false, :input_html => { :size => 3 } %>
  <% end %>
  Intensidade:
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= text_field(name = :tempo, value = :intensidade, :size => 5, :maxlength => 3) %>
  <input type='button' value="Calcular Ritmo" onclick="calculaRitmo('item_treino_minutos', 'item_treino_segundos', 'item_treino_decimos', 'item_treino_volume', 'tempo_intensidade', 'resultado_ritmo')"><input type="hidden" name="mostra_form" value="sim" />
  &nbsp;&nbsp;&nbsp;
  <span id="resultado_ritmo"></span><br /><br />

  Ritmo:
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= text_field(name = :ritmo, value = :ritmo, :size => 5) %>
  <input type='button' value="Calcular Tempo" onclick="calculaTempoPeloRitmo()"><br /><br />

  <% form.buttons do %>
    <%= form.commit_button "Criar item treino" %>
  <% end %>
  
<% end %>

</div>

<%= link_to "Treinos", treinador_atleta_treinos_path(@atleta) %>
|
<%= link_to "Editar treino", edit_treinador_atleta_treino_path(@atleta,@treino) %>
