<p>Data: <%= @treino.date %></p>

<p>
  Observação:
  <br/>
  <%= @treino.observacao %>
</p>

<p>
  Comentário:
  <br/>
  <%= @treino.comentario %>
</p>
<table>
  <tr>
    <th>Exercício</th>
    <th>Método</th>
    <th>Séries</th>
    <th>Repetição</th>
    <th>Volume</th>
    <th>Grandeza</th>
    <th>Tempo</th>
    <th>Pausa</th>
    <th>Intervalo</th>
    <th></th>
  </tr>
  <% @treino.itens_treino.each do |item_treino| %>
    <tr>
      <td>
        <%= item_treino.exercicio %>
      </td>
      <td>
        <%= item_treino.metodo %>
      </td>
      <td><%= item_treino.series %></td>
      <td><%= item_treino.repeticao %></td>
      <td><%= item_treino.volume %></td>
      <td><%= item_treino.grandeza %></td>
      <% if item_treino.minutos || item_treino.segundos || item_treino.decimos %>
        <td><%= item_treino.minutos %>'<%= item_treino.segundos %>''<%= item_treino.decimos %>"</td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= item_treino.pausa %></td>
      <td><%= item_treino.intervalo %></td>
      <td><%= link_to "Remover", treinador_treino_item_treino_path(@treino,item_treino), :method => :delete %>
    </tr>
  <% end %>
</table>

<h2> Novo item de treino </h2>

<% semantic_form_for @item_treino, :url => treinador_treino_itens_treino_path(@treino) do |form| %>
  <% form.inputs do %>
    <%= form.input :exercicio,  :required => true, :input_html => { :size => 20 } %>
    <%= form.input :metodo,     :required => false, :input_html => { :size => 20 } %>
    <%= form.input :volume,     :required => true,  :input_html => { :size => 5 } %>
    <%= form.input :grandeza,   :required => true, :as => :select,  :collection => ["m", "kg", "unidades"] %>
    <%= form.input :pausa,      :required => false, :input_html => { :size => 5 } %>
    <%= form.input :intervalo,  :required => false, :input_html => { :size => 5 } %>
    <%= form.input :series,     :required => false, :input_html => { :size => 5 } %>
    <%= form.input :repeticao,  :required => false, :input_html => { :size => 5 } %>
    <%= form.input :minutos,    :required => false, :input_html => { :size => 3 } %>
    <%= form.input :segundos,   :required => false, :input_html => { :size => 3 } %>
    <%= form.input :decimos,    :required => false, :input_html => { :size => 3 } %>
  <% end %>
  
  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>
  
<% end %>



<%= link_to "Treinos", treinador_atleta_treinos_path(@atleta) %>
|
<%= link_to "Editar este treino", edit_treinador_atleta_treino_path(@atleta,@treino) %>
