<%	@treinador = Treinador.find_by_user_id(current_user); %>
<%	if @treinador	%>
<%	if @atleta	%>

<%	end %>
<ul>

	<li><%= link_to "Meus dados", treinador_path  %></li>
    <li><%= link_to "Cálculo de Ritmo", :controller => "treinador/treinos", :action => "calcula_ritmo_inicial"%></li>
    <!--<li><%= link_to "Preferências de cor e período", :controller => "preferencias", :action => "mostraPeriodoCor"%></li>
    <li><%= link_to "Preferências de cor e tipo de treino", :controller => "preferencias", :action => "mostraTipoTreinoCor"%></li>-->
		<li><%= link_to "Atletas", treinador_atletas_path%>

</ul>



<%	end %>
