<%	@treinador = Treinador.find_by_user_id(current_user); %>
<%	if @treinador	%>
<%	if @atleta	%>

<%	end %>
<ul>

	<li><%= link_to "Meus dados", treinador_path  %></li>
    <li><%= link_to "Cálculo de Ritmo", :controller => "treino", :action => "calcula_ritmo_inicial"%></li>
    <li><%= link_to "Preferências de cor e período", :controller => "preferencias", :action => "mostraPeriodoCor"%></li>
    <li><%= link_to "Preferências de cor e tipo de treino", :controller => "preferencias", :action => "mostraTipoTreinoCor"%></li>

	<%	if @atleta	%>
</ul>
	<br />
	<br />
	<h4>Edição de <b><%=h @atleta.nome.split.first %></b>:</h4>
	<ul>
	<li><%= link_to "Provas de #{@atleta.nome.split.first}", atleta_provas_path(@atleta)  %></li>
	<li><%= link_to "Testes de #{@atleta.nome.split.first}", atleta_testes_path(@atleta)  %></li>

	<li><%= link_to "Voltar para a lista dos atletas", :controller => "atletas", :action => "list" %></li>
	<%	else %>
	<li><%= link_to "Lista dos atletas", :controller => "atletas", :action => "list" %></li>	
	<%	end %>

</ul>

<%	end %>
