<%	@treinador = Treinador.find_by_user_id(current_user); %>
<%	if @treinador	%>
<%	if @atleta	%>

<%	end %>
<ul>

	<li><%= link_to "Meus dados", treinador_profile_path  %></li>
  <li><%= link_to "Cálculo de Ritmo", calcula_ritmo_inicial_treinador_treinos_path%></li>
	<li><%= link_to "Atletas", treinador_atletas_path%></li>

	<li><%= link_to "Objetivos", treinador_objetivos_path%></li>
	<li><%= link_to "Exercícios", treinador_exercicios_path%></li>

</ul>



<%	end %>
