<% form_remote_tag :url => itens_treino_path, :update => "itens_treino[#{treino}]" do %>
<%= hidden_field :treino_id, params[:treino_id], :value => treino %>
<table>
    <tr>
        <td>
            <label for='<%="treinador_#{treino}_tipo" %>'>
                Tipo
            </label>
        </td>
        <td>
            <%= text_field_tag "treinador[#{treino}][tipo]", params[:tipo] %>
        </td>
    </tr>
    <tr>
        <td>
            <label for='<%="itens_#{treino}_objetivo" %>'>
                Objetivo
            </label>
        </td>
        <td>
            <%= text_field_tag "itens[#{treino}][metodo]", params[:metodo], :size => 10 %>
        </td>
    </tr>
	<tr>
        <td>
            <label for='<%="itens_#{treino}_exercicio" %>'>
                Exercício
            </label>
        </td>
        <td>
            <%= text_field_tag "itens[#{treino}][exercicio]", params[:exercicio], :size => 10 %>
        </td>
    </tr>
    <tr>
        <td>
            <label for='<%="itens_#{treino}_series" %>'>
                Série
            </label>
        </td>
        <td>
            <%= text_field_tag "itens[#{treino}][series]", params[:series], :size => 3 %>
        </td>
    </tr>
    <tr>
        <td>
            <label for='<%="itens_#{treino}_repeticao" %>'>
                Repetição
            </label>
        </td>
        <td>
            <%= text_field_tag "itens[#{treino}][repeticao]", params[:repeticao] %>
        </td>
    </tr>
    <tr>
        <td>
            <label for='<%="itens_#{treino}_volume" %>'>
                Volume
            </label>
        </td>
        <td>
            <%= text_field_tag "itens[#{treino}][volume]", params[:volume], :size => 6 %>
			<%= select("itens[#{treino}][grandeza]", "grandeza", ['m', 'kg'], :include_blank => true) %>

        </td>
    </tr>
    
	<tr>
		<td> 
			<label>Tempo: </label>
		</td>
		<td>	
         		<%= text_field_tag "itens[#{treino}][minutos]", params[:minutos], :size => 3 %> <label>' </label>
         		<%= text_field_tag "itens[#{treino}][segundos]", params[:segundos], :size => 3  %> <label>'' </label> 
         		<%= text_field_tag "itens[#{treino}][decimos]", params[:decimos], :size => 3 %>
		</td>
	</tr>
	
    <tr>
        <td>
            <label for='<%="itens_#{treino}_pausa" %>'>
                Pausa
            </label>
        </td>
        <td>
            <%= text_field_tag "itens[#{treino}][pausa]", params[:pausa], :size => 6 %> <label>min</label>
        </td>
    </tr>
	<tr>
	   <td>
            <label for='<%="itens_#{treino}_intervalo" %>'>
                Intervalo
            </label>
        </td>
        <td>
            <%= text_field_tag "itens[#{treino}][intervalo]", params[:intervalo], :size => 6 %> <label>min</label>
        </td>
	</tr>
    <tr>
        <td>
            <%= submit_tag "Criar" %>
        </td>
		<td>
            <a href="#" onclick="Effect.BlindUp('form[<%= treino %>]');$('novo[<%= treino %>]').show();return false;">Cancelar</a>
        </td>
    </tr>
</table>
<% end %>
