<table id="itens_treino[<%= treino.id %>]">
<% treino.item_treino.each do |i| %>
	<tr >
		<td style="background-color: #<%= i.cor_treino.cor %>">
			<%= i.cor_treino.tipo %>
			<%= i.exercicio %>			
			<%= i.series.to_s + 'x' + i.repeticao.to_s + 'x' + i.volume.to_s %>
			<%= 'pausa: ' + i.pausa.to_s + 'min' %> 
			<%= 'intervalo: ' + i.intervalo.to_s + 'min' %>
			<%= i.exercicio %>	
		</td>

		
		<% if show %>
		<td><%=  link_to_remote "x", :update => "itens_treino[#{treino.id}]",
		    :url => {:action => 'destroy', :controller => 'itens_treino', :id => i}, :method => :delete %></td>
		<% end %>
	</tr>
<% end %>
</table>
