<h2>Editar item de treino</h2>

<%form_for :itemTreino, :url => itens_treino_path do |f|%>
  <p>
    <%=f.label :descricao%><br />
    <%=f.text_field :descricao%>
  </p> 

  <p>
    <%=f.label :repeticao%><br />
    <%=f.text_field :repeticao%>
  </p> 
  
  <p>
    <%=f.label :distancia%><br />
    <%=f.text_field :distancia%>
  </p> 

  <p>
    <%=f.label :intensidade%><br />
    <%=f.text_field :intensidade%>
  </p> 

  <p>
    <%=f.label :descanso%><br />
    <%=f.text_field :descanso%>
  </p> 
  
  <%=f.submit "Atualizar"%> 
<%end%>
