<h1>Somatório de cargas</h1>

<%= error_messages_for :user, :header_message => "Erro!" , :message => "Há erros com os seguintes campos:" %>

<% form_for :somatorio_de_cargas, :url => somatorio_de_cargas_path do |f| -%>


<p><%= f.label "Data de início:" %>
<%= f.date_select :data_inicio, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
</p>

<p><%= f.label "Data de término:" %>
<%= f.date_select :data_termino, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
</p>

<p>&nbsp;</p>
<p><%= submit_tag 'Cadastrar-se' %></p>
<% end -%>
