<p>
  <b>Nome:</b>
  <%=h @teste.nome %>
</p>

<p>
  <b>Data:</b>
  <%=h @teste.data %>
</p>
<% if @teste.resultado != "" %>
	<p>
	  <b>Resultado:</b>
	  <%=h @teste.resultado %>
	</p>
<% end %>	
	
<% if @teste.clima != "" %>
	<p>
  		<b>Clima:</b>
 		<%=h @teste.clima %>
	</p>
<% end %>

<% if @teste.periodo != "" %>
	<p>
	  <b>Período de treinamento:</b>
	  <%=h @teste.periodo %>
	</p>
<% end %>

<% if @teste.comentarios != "" %>
	<p>
	  <b>Comentários:</b>
	  <%=h @teste.comentarios %>
	</p>
<% end %>

