<h1>Teste do <%= @atleta.nome %></h1>

<p>
	<strong>Nome: </strong>
	<%= @teste.nome %>
</p>

<p>
	<strong>Data: </strong>
	<%= @teste.data %>
</p>


<p>
	<strong>Descrição: </strong>
	<br/>
	<%= @teste.descricao %>
</p>

<% if not @teste.volume.blank? %>
	<p>
		<strong>Resultado: </strong>
		<br/>
		<%= @teste.volume %> 
		<%= @teste.grandeza %> 
	</p>
<% elsif not (@teste.minutos.blank? or @teste.segundos.blank? or @teste.decimos.blank?)%>
	<p>
		<strong>Resultado: </strong>
		<br/>
		<%= @teste.minutos || 0 %> ' 
		<%= @teste.segundos || 0 %> ''
		<%= @teste.decimos || 0 %> 
	</p>		
<% end %>

<p>
	<strong>Comentários: </strong>
	<br/>
	<%= @teste.comentarios %>
</p>
