<%	@atleta = Atleta.find_by_user_id(current_user); %>
<%	if @atleta	%>
<ul>
	<li><%= link_to 'Página inicial', atletas_path %></li>
	<li><%= link_to 'Meus dados', @atleta %></li>
	<li><%= link_to 'Treinos', atleta_treinos_path %></li>
	<!--<li><%= link_to 'Minhas provas', atleta_provas_path(@atleta)  %></li>
	<li><%= link_to 'Meus testes', atleta_testes_path(@atleta)  %></li>-->
</ul>
<%	end %>
