<script type="text/javascript">

	 function addProva() {
	 	var selectBox = document.getElementById('atleta_participa_provas');
		var input = document.getElementById('nova_prova');
		var novaProva = input.value;
		input.value = '';
		if (novaProva != '') {
			var option = document.createElement("OPTION");
			option.text = novaProva;
			option.value = novaProva;
			selectBox.options.add(option);
		}
	}
	 
	function removeProva() {
		var selectBox = document.getElementById('atleta_participa_provas');
		var i;
		for(i = selectBox.options.length - 1; i >= 0; i--){
			if (selectBox.options[i].selected) {
				selectBox.remove(i);
			}
		}
	}
 
	 function selectAllProvas() {
		var selectBox = document.getElementById('atleta_participa_provas');
		for (var i = 0; i < selectBox.options.length; i++) {
			selectBox.options[i].selected = true;
		}
	 }
	 
</script>

<h1>Editar atleta</h1>

<% form_for(@atleta,:html=>{:onsubmit=>"selectAllProvas();"}) do |f| %>

  <%= f.error_messages %>

  <p>
    <b><%= f.label "Data de nascimento:" %> </b><br />
    <%= f.date_select :nasc,:start_year => Time.now.year - 100, :end_year => Time.now.year %>
  </p>
  <p>
    <b><%= f.label :peso %>: </b>
    <%= f.text_field :peso, :size => '3' %> kg
  </p>
  <p>
    <b><%= f.label :altura %>: </b>
    <%= f.text_field :altura, :size => '3' %> cm
  </p>

  <p id="provas">
  	Provas que corre: 
	<input type="text" id="nova_prova"/>
	<input type="button" onclick="addProva()" value="+" alt="Adicionar Item" style="width: 30px"/>
	<input type="button" onclick="removeProva()" value="-" alt="Excluir Item" style="width: 30px"/>
	<!--<%= "collection_select :atleta, :participa_provas, @atleta.participa_provas, :id, :nome, {}, :multiple => true, :size => 5 "%>-->
  </p>
  
  
  
  <p>
    <b><%= f.label :treinador %></b>
    <%= select :atleta, :treinador_id, @treinadores.collect { |p| [p.usuario.name, p.id]},  { :include_blank => true } %>
  </p>
  <br />
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>
