<p><b>Data: </b><%= @treino.date %></p>

  <br/>
  <table border=1 width="100%">
    <tr><td colspan=8 align=center><i>Itens de Treino</td></tr>
    <tr>
      <td align=center><b>Objetivo</td>
      <td align=center><b>Exercício</td>
      <td align=center><b>Séries</td>
      <td align=center><b>Repetição</td>
      <td align=center><b>Volume</td>
      <td align=center><b>Tempo</td>
      <td align=center><b>Pausa</td>
      <td align=center><b>Intervalo</td>
    </tr>
    <%@treino.itens_treino.each do |item|%>
      <tr>
        <td align=center><%=item.objetivo%></td>
        <td align=center><%=item.exercicio%></td>
        <td align=center><%=item.series%></td>
        <td align=center><%=item.repeticao%></td>
        <td align=center><%=item.volume%> <%=item.grandeza%></td>
		    <td align=center>
			    <% if item.minutos %>
				    <%= item.minutos %>'
			    <% end %>
			    <% if item.segundos %>
				    <%= item.segundos %>''
			    <% end %>
			    <% if item.decimos %>
				    <%= item.decimos %>"
			    <% end %>
		    </td>
        <td align=center><%=item.pausa%></td>
        <td align=center><%=item.intervalo%></td>
      </tr>
    <% end %>
  </table>

<p>
  <b>Observação:</b>
  <br/>
  <%= @treino.observacao %>
</p>

<p>
  <b>Comentário:</b>
  <br/>
  <%= @treino.comentario %>
</p>

<%= link_to "Treinos", atleta_treinos_path() %>
|
<%= link_to "Editar este treino", edit_atleta_treino_path(@treino) %>
